@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.body{
    font-family: 'Roboto Slab', serif;
}

.header-container{
    background-color: #1f2937;
}

.logo{
    font-size: 24px;
    color: #f9faf8;
    display: flex;
}

.header-link, .flavour-text{
    font-size: 18px;
    color: #e5e7eb;
    margin: 10px;
}

.header-navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
}

ul{
    display: flex;
    flex-direction: row;
}

.links, .logo{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center; 
}

h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.header-content{
    display: flex;
    flex-direction: row;
    margin-left: 70px;
    align-items: center;
    justify-content: center;
}

.header-image{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.header-flavour-text{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin-left: 2%;
}

.flavour-text{
    margin-right: 4%;
}
.header-image{
    margin-top: 50px;
    margin-bottom: 50px;
}

.header-signup-btn{
    background-color: #3882f6;
    color: white;
    width: 200px;
    height: 40px;
    border:#3882f6;
    border-radius: 10px;
}

h2{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
}

.illustration-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.boxes-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    margin: 100px;
}

.box-container{
    display: flex;
    flex-direction: column;
}

.box{
    border: 3px solid #3882f6;
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.box-subtext{
    text-align: center;
    font-size: 18px;
}